<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.icrisat.mbdt.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.icrisat.mbdt.rcp.Perspective"
            id="org.icrisat.mbdt.rcp.perspective">
      </perspective>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.icrisat.mbdt.rcp.application"
            name="MBDT1.0.3">
         <property
               name="appName"
               value="MBDT1.0.3">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="aboutText"
               value="Molecular Breeding Design Tool&#x0A;Version: 1.0.3&#x0A;&#x0A;An Eclipse RCP Plugin&#x0A;Visit http://www.eclipse.org/">
         </property>
         <property
               name="aboutImage"
               value="icons/eclipse_lg.gif">
         </property>
      </product>
   </extension>
 

</plugin>
